.App {
  text-align: center;
  background-color: #1f283b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .row {
    display: flex;

    .square {
      width: 5vw;
      height: 5vw;
      margin: 0.1em;
      display: block;
    }

    .square:hover {
      cursor: pointer;
    }
  }


}